@charset "ISO-8859-1";


/* add another font : https://fonts.google.com/ */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')
	;

/* h2 {
	color: #56D760;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
} */
* {
	background-color: #3AA8EE
}

div p span {
	color: yellow;
	background-color: #75BD43;
}

div p {
	color: yellow;
	background-color: #75BD43;
}

.warna-warni {
	color: #ffffff;
	background: rgb(2, 0, 36);
	background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%,
		rgba(57, 249, 49, 1) 91%, rgba(38, 232, 255, 1) 100%);
}

#blue {
	color: blue;
	font-family: 'Roboto', sans-serif;
}

div>h2 {
	color: #ffffff;
	background: rgb(2, 0, 36);
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%,
		rgba(57, 249, 49, 1) 81%, rgba(255, 92, 38, 0.8188317563353467) 99%);
}

input[type='number'] {
	color: white;
}

p, h1, input[type='text'] {
	color: white;
	background: rgb(2, 0, 36);
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%,
		rgba(57, 249, 49, 1) 81%, rgba(255, 92, 38, 0.8188317563353467) 99%);
}